<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Haz llegado al final de internet</h1>
        <hr>
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Página Principal</a>
    </div>
</div>