<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-danger">
        <h2>Tú no estás permitido para accede a esta página</h2>
        <p>Por favor, Haz click en el botón de abajo para ir a la página principal.</p>
        <hr>
        <p>
            <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Página Principal</a>
        </p>
    </div>
</div>